<!DOCTYPE html>
<html ng-app="streethear">

<head>
  <meta charset="utf-8">
  <title>Street Hear</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="js/jquery.big-slide.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgp5reW1bJ7tbA4otG68xS_vV7xpgJKTs"></script>
  <script src="js/streethear.js"></script>
  <script src="js/LocationsService.js"></script>
  <script src="js/AudioService.js"></script>
  <script src="js/StreetViewController.js"></script>
  <script src="js/NavController.js"></script>
</head>

<body ng-controller="StreetViewController">
  <nav ng-controller="NavController" id="menu" class="panel" role="navigation"
    style="position: fixed; top: 0px; bottom: 0px; height: 100%; left: -15.625em; width: 15.625em; transition: left 300ms ease;">
    <a href="https://www.littleplasticsquares.com/">
      <img src="img/sam-moorhouse.png" width="100" />
    </a>

    <p>An audio map,
      <br />because I &#9829; NYC</p>
    <p>Localised sounds fade in and out as you move around the city.</p>
    <ul>
      <li>
        <a href="#" ng-click="move_timessq()">
          <span class="nav-icon fa fa-map-marker"></span>Times Sq
        </a>
      </li>
      <li>
        <a href="#" ng-click="move_36_6()">
          <span class="nav-icon fa fa-map-marker"></span>36th &amp; 6th
        </a>
      </li>
      <li>
        <a href="#" ng-click="move_36_b()">
          <span class="nav-icon fa fa-map-marker"></span>36th &amp; Broadway
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://www.littleplasticsquares.com">
          <span class="nav-icon fa fa-user"></span>Sam Moorhouse</a>
      </li>
      <li>
        <a href="https://github.com/sammoorhouse/StreetHear">
          <span class="icon-github nav-icon"></span>Github</a>
      </li>
      <li>
        <a href="#" ng-click="isMuted = !isMuted">
          <span ng-class="['nav-icon fa', isMuted ? 'fa-volume-up': 'fa-volume-off']"></span>
          <span ng-if="isMuted">Unmute</span>
          <span ng-if="!isMuted">Mute</span>
        </a>
      </li>
    </ul>
  </nav>
  <div id="pano" class="push">
    <a href="#menu" class="menu-link">&#9776;</a>
  </div>
  <script>
    $(function () {
      $('.menu-link').bigSlide({
        "easyClose": true
      });
    });
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-76204437-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>